<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users Index</title>
</head>
<body>
    <h1>Users</h1>
    <table>
        <thead>
            <th>id</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Action</th>
        </thead>
    {% for user in Users % }
        <tbody>
            <td>{{user.id}}</td> 
            <td>{{user.first_name}}{{user.last_name}}</td> 
            <td>{{user.email}}</td> 
            <td>{{user.created_at}}</td> 
            <td><a href = "users/{{user.id}}/show">Show</a></td>
            <td><a href="/users/{{user.id}}/edit">Edit</a></td>
            <td><a href="/users/{{user.id}}/delete">Delete</a></td> 
        </tbody>
    </table>
  <a href="users/new">Add a new user</a>

</body>
</html>