<html>
    <head>
       <title>Ninja Money</title>
       {% load static %}
       <link rel="stylesheet" href="{% static 'ninja_gold/style.css' %}" media="screen" title="no title"  charset="utf-8">   
    </head>
    <body>
        <div class="container">
            <div class="gold_total">
                <label for "gold">Your Gold:  </label>
                <input type="text" disabled name="golds" value ="{{request.session.total}}">
                <p>
            </div> 
            <div class="building">
                    <form action="/process_money/farm", method='POST'>{% csrf_token %}  
                        <h3>Farm</h3>
                        <h4>(earns 10-20 golds)</h4>                                                   
                        <input type='submit' value='Find Gold!'>
                    </form>
                    <form action="/process_money/cave", method='POST'>{% csrf_token %}   
                        <h3>Cave</h3>
                        <h4>(earns 5-10 golds)</h4>                                                        
                        <input type='submit' value='Find Gold!'>
                    </form>
                    <form action="/process_money/house", method='POST'>{% csrf_token %}  
                        <h3>House</h3>
                        <h4>(earns 2-5 golds)</h4>
                        <input type='submit' value='Find Gold!'>
                    </form>   
                    <form action="/process_money/casino", method='POST'>{% csrf_token %}          
                        <h3>Casino</h3>
                        <h4>(earns/takes 0-50 golds)</h4>                    
                        <input type='submit' value='Find Gold!'>
                    </form>
            </div>
                <div class="activities">Activities:<br/>
                        {% for log in request.session.logs %}
                            <p class='{{log.class }}'> {{log.message}} </p>
                        {%endfor%}
                        <form action="/reset", method='POST'>{% csrf_token %}                                              
                            <input type='submit' value='Clear'>
                        </form>
                </div>
               
            </div> 
           
        </div>
    
    </body>
</html>